<!-- component -->
  <div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
      <div>
        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
            <div class="text-gray-600">
              <p class="font-medium text-lg">Add An Expense</p>
              <p>Please fill out all the fields.</p>
            </div>

            <form [formGroup]="myForm" class="lg:col-span-2" (ngSubmit)="addExpense()">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-5" >
                  <label for="name">Name</label>
                  <input type="text" formControlName="name" id="name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" [ngClass]="{ 'bg-red-50 border border-red-500': myForm.controls['name'].errors }"/>
                  <div *ngIf="myForm.controls['name'].errors" class="text-sm text-red-600">
                    <div *ngIf="myForm.controls['name'].errors?.['required']">Name is required</div>
                  </div>
                </div>

                <div class="md:col-span-5">
                  <label for="amount">Amount</label>
                  <input type="number" formControlName="amount"  id="amount" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" [ngClass]="{ 'bg-red-50 border border-red-500': myForm.controls['amount'].errors }"/>
                  <div *ngIf="myForm.controls['amount'].errors" class=" text-sm text-red-600">
                    <div *ngIf="myForm.controls['amount'].errors?.['required']">Amount is required</div>
                  </div>
                </div>
                <div class="md:col-span-5">
                  <label for="category">Category</label>
                  <select id="category" formControlName="category"  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" [ngClass]="{ 'bg-red-50 border border-red-500': myForm.controls['category'].errors }">
                    <option value="" selected hidden disabled>Select an option</option>
                    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                  </select>
                  <div *ngIf="myForm.controls['category'].errors" class="text-sm text-red-600">
                    <div *ngIf="myForm.controls['category'].errors?.['required']">Category is required</div>
                  </div>
                </div>

                <div class="md:col-span-5 text-right mt-4">
                  <div class="inline-flex items-end">
                    <button type="submit" class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded">Submit</button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
